<ion-toolbar color="azultoolbar">
  <ion-buttons slot="secondary">
    <ion-button routerLink="/home" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-wrap">Captain America</ion-title>
</ion-toolbar>

<ion-content color="azulescuro">
  <ion-card color="azul">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vSNxAJTlD0r02V9sPYpOjqDZXUK.jpg" />
    <ion-card-header>
      <ion-card-title>When patriots become heroes</ion-card-title>
      <ion-card-subtitle>An offer you can't refuse.</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      During World War II, Steve Rogers is a sickly man from Brooklyn who's transformed into super-soldier Captain America to aid in the war effort. Rogers must stop the Red Skull – Adolf Hitler's ruthless head of weaponry, and the leader of an organization that intends to use a mysterious device of untold powers for world domination.    </ion-card-content>
  </ion-card>
</ion-content>
