<ion-toolbar color="azultoolbar">
  <ion-buttons slot="secondary">
    <ion-button routerLink="/home" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Me before you</ion-title>
</ion-toolbar>

<ion-content color="azulescuro">
  <ion-card color="azul">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/Ia3dzj5LnCj1ZBdlVeJrbKJQxG.jpg" />
    <ion-card-header>

      <ion-card-title>
        Me before you
      </ion-card-title>
      

      <ion-card-subtitle>Live boldly.</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      A small town girl is caught between dead-end jobs. A high-profile, successful man becomes wheelchair bound following an accident. The man decides his life is not worth living until the girl is hired for six months to be his new caretaker. Worlds apart and trapped together by circumstance, the two get off to a rocky start. But the girl becomes determined to prove to the man that life is worth living and as they embark on a series of adventures together, each finds their world changing in ways neither of them could begin to imagine. </ion-card-content>
  </ion-card>
</ion-content>