<ion-header [translucent]="true" >
  <ion-toolbar color="secondary">
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/the-perks-of-being-a-wallflower"  target="_blank" color="primary">
    <ion-label>
      The perks of being a wallflower
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/25ba5a7f9b36a3950d5cab2f60d05a20eaf52024fa87055fa079b4e677544099._RI_V_TTW_.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item routerLink="/the-god-father"  target="_blank" color="primary">
    <ion-label>
     The GodFather
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item routerLink="/captain-america"  target="_blank" color="primary">
    <ion-label>
      Captain America - The first avenger
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://i.pinimg.com/originals/04/74/67/047467b26242c8e8ae2b8b6bcc9bea0e.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item routerLink="/me-before-you"  target="_blank" color="primary">
    <ion-label>
      Me before you
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://www.brides.com/thmb/mM4oUjcw9Rw_Fi_oke68zcr-1zM=/1230x0/filters:no_upscale():max_bytes(150000):strip_icc()/MeBeforeYou-3273ea3e643c4fd1808bf76e2f7f7fcd.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item routerLink="/scarface"  target="_blank" color="primary">
    <ion-label>
      ScarFace
 </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://images-na.ssl-images-amazon.com/images/I/618ez5spR3L.jpg">
    </ion-thumbnail>
  </ion-item>

  <ion-item routerLink="/the-lion-king"  target="_blank" color="primary">
    <ion-thumbnail slot="end">
      <img src="https://m.media-amazon.com/images/I/91vMdLwpD1L._AC_SL1500_.jpg">
    </ion-thumbnail>
    <ion-label>
      The Lion King
    </ion-label>

  </ion-item>


</ion-content>
