<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/the-perks-of-being-a-wallflower"  target="_blank">
    <ion-label>
      The perks of being a wallflower
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/25ba5a7f9b36a3950d5cab2f60d05a20eaf52024fa87055fa079b4e677544099._RI_V_TTW_.jpg">
    </ion-thumbnail>
  </ion-item>
</ion-content>
