
  ion-toolbar {
    ion-title {
      font-family: 'Oswald', sans-serif;
      font-size: x-large;
    }
  }


ion-toolbar {
  font-family: "Oswald", sans-serif;
  font-size: xx-large;
}

ion-content {
  ion-card {
    ion-card-header {
      ion-card-title {
        font-family: "Oswald", sans-serif;
        font-size: x-large;
      }

      ion-card-subtitle {
        font-family: "Oswald", sans-serif;
        font-size: small;
        font-style: italic;
      }
    }

    ion-text{
      font-family: "Oswald", sans-serif;
      font-size:small;
    }
    ion-card-content {
      font-family: "Oswald", sans-serif;
      font-size: large;
    }
  }
}