<ion-toolbar color="azultoolbar">
  <ion-buttons slot="secondary">
    <ion-button routerLink="/home" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>The GodFather</ion-title>
</ion-toolbar>

<ion-content color="azulescuro">
  <ion-card color="azul">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg" />
    <ion-card-header>
      <ion-card-title>The Lion King</ion-card-title>
      <ion-card-subtitle>The King has Returned.
      </ion-card-subtitle>
      <ion-text>18/07/2019 </ion-text>
    </ion-card-header>
    <ion-card-content>
      Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.    </ion-card-content>
  </ion-card>
</ion-content>
